<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @* àgregar rel:nombre de la aplicacion *@
        <link rel="icon" href="@Url.Content("~/icon.ico")" type="image/x-icon" />
        
        @*@Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
